repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0 # Use the ref you want to point at
    hooks:
      - id: trailing-whitespace
        types: [file, text]
      - id: check-docstring-first
      - id: check-case-conflict
      - id: end-of-file-fixer
        types: [python]
      - id: requirements-txt-fixer
      - id: mixed-line-ending
        types: [python]
        args: [--fix=no]
      - id: check-added-large-files
        args: [--maxkb=2048]
      - id: debug-statements
      - id: check-byte-order-marker
      # - id: check-yaml
      - id: check-toml

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.10.1
    hooks:
      - id: pyupgrade
        args: [--py38-plus]

  - repo: https://github.com/psf/black
    rev: 23.9.1
    hooks:
      - id: black
        types: [python]
        additional_dependencies: ["click==8.0.4"]

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.9.2
    hooks:
      - id: markdownlint-cli2

  - repo: https://github.com/pycqa/flake8.git
    rev: 6.1.0
    hooks:
      - id: flake8
        additional_dependencies: [flake8-print, Flake8-pyproject]
        types: [python]

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        name: isort (python)
        args: ["--profile", "black"]

  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.7.0
    hooks:
      - id: nbqa-black
      - id: nbqa-flake8
        args: ["--extend-ignore=E203,E402,E501"]
      - id: nbqa-isort

  - repo: https://github.com/kynan/nbstripout
    rev: 0.6.1
    hooks:
      - id: nbstripout

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.5.1
    hooks:
      - id: mypy
        args:
          - --explicit-package-bases

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: "v0.0.288"
    hooks:
      - id: ruff

  # Serious pylint errors that will be enforced by CI
  - repo: https://github.com/pycqa/pylint
    rev: v3.0.0a7
    hooks:
      - id: pylint
        args:
          - --errors-only
          - --disable=E0401

  # Pylint warnings that are bing skipped by CI (see skip: [pylint_warnings] below)
  - repo: local
    hooks:
      - id: pylint_warnings
        args: ["--rcfile=.pylintrc.precommit.ini"]
        name: pylint-warnings
        entry: python -m pylint
        language: system
        files: \.py$
        exclude: clarity/_version.py # 3rd party code that doesn't conform

exclude: ^(tests/regression/_regtest_outputs/) # We don't want these being 'fixed'

ci:
  autofix_prs: true
  autofix_commit_msg: "[pre-commit.ci] Fixing issues with pre-commit"
  autoupdate_schedule: weekly
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit-autoupdate"
  skip: [pylint_warnings] # Optionally list ids of hooks to skip on CI
