path:
  root: ???
  metadata_dir: ${path.root}/metadata
  music_dir: ${path.root}/audio/at_mic_music
  gains_file: ${path.metadata_dir}/gains.json
  head_positions_file: ${path.metadata_dir}/head_positions.json
  listeners_file: ${path.metadata_dir}/listeners.valid.json
  music_file: ${path.metadata_dir}/at_mic_music.valid.json
  scenes_file: ${path.metadata_dir}/scenes.valid.json
  scene_listeners_file: ${path.metadata_dir}/scene_listeners.valid.json
  exp_folder: ./exp # folder to store enhanced signals and final results

sample_rate: 44100
remix_sample_rate: 32000
HAAQI_sample_rate: 24000

nalr:
  nfir: 220
  sample_rate: ${sample_rate}

apply_compressor: False
compressor:
  threshold: 0.35
  attenuation: 0.1
  attack: 50
  release: 1000
  rms_buffer_size: 0.064

soft_clip: False

separator:
  model: demucs   # demucs or openunmix
  device: ~

evaluate:
  set_random_seed: True
  small_test: False
  batch_size: 1  # Number of batches
  batch: 0       # Batch number to evaluate

# hydra config
hydra:
  run:
    dir: ${path.exp_folder}