path:
  root: ???
  metadata_dir: ${path.root}/metadata
  music_dir: ${path.root}/audio/music # musdb18 dataset
  hrtf_dir: ${path.root}/audio/hrtf
  scene_file: ${path.metadata_dir}/scenes.train.json
  music_file: ${path.metadata_dir}/musdb18.train.json
  head_loudspeaker_positions_file: ${path.metadata_dir}/head_loudspeaker_positions.json
  tracklist_file: ./musdb18_tracklist.csv
  gains_file: ${path.metadata_dir}/gains.json
  output_music_dir: ${path.root}/audio/at_mic_music # at microphone musdb18 dataset
  output_music_file: ${path.metadata_dir}/at_mic_music.train.json

sample_rate: 44100

scene:
  number_scenes_per_song: 4

scene_listener:
  number_listeners_per_scene: 2

hydra:
  run:
    dir: .
