name: Clarity Tests

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    name: Testing ~ (${{ matrix.python-version }}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-latest"]
        python-version: ['3.7', '3.8', '3.9', '3.10']
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4.3.0
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          sudo apt-get update -yq
          sudo apt-get install -yq libsndfile1-dev ffmpeg
      - name: Install package, including extras
        run: |
          pip install -e .
          pip install -e .[tests]
          pip install -e .[docs]
          pip install -e .[dev]
      - name: CPU information
        run: |
          python -m cpuinfo --json
      - name: Run pytest
        run: |
          pytest --cov=clarity .
      - name: Determine coverage
        run: |
          coverage xml
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
      - name: pylint
        run: |
          pylint --rcfile=.pylintrc
