name: Clarity Tests

on:
  pull_request:
    branches:
      - main
  merge_group:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    name: Testing ~ (${{ matrix.python-version }}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-latest"]
        python-version: ["3.8", "3.9", "3.10", "3.11"]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4.3.0
        with:
          python-version: ${{ matrix.python-version }}
          # cache: 'pip'
          # cache-dependency-path: setup.cfg
      - name: Install dependencies
        run: |
          sudo apt-get update -yq
          sudo apt-get install -yq libsndfile1-dev ffmpeg
      - name: Install package, including extras
        run: |
          pip install -e .[tests,docs,dev]
      - name: CPU information
        run: |
          python -m cpuinfo --json
      - name: Run pytest
        run: |
          pytest --cov=clarity --durations 10 .
      - name: Determine coverage
        run: |
          coverage xml
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
      # - name: pylint
      #   run: |
      #     pylint --rcfile .pylintrc
